.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border: 1px #000 solid;
  padding: 5px;
}
form:last-child {
  border-top: 0px;
}

.listItem {
  width: 300px;
  padding-top: 5px;
}

.listHeader {
  color: green;
  border-bottom: 1px #000 solid;
}

button {  
  color: #27ae60;
  border-radius: 20px;
  background-color: #fff;
  margin: 10px 0;
  }
  
button:last-child {  
  color: red;
  margin: 0;
  }